{% extends 'core/base.html' %}

{% block main %}

  <div class="jumbotron page-header">
  	<h1>Sistema de consulta estoque do Almoxarifado do CES</h1>
  	<h2>Almoxarifado - CES/UFCG</h2>
  	<p>Setor responsável pela recepção, armazenamento, controle e distribuição de materiais estocáveis,
  		controle dos níveis de estoque, atendimento às requisições de materiais de toda a comunidade universitária do Centro de Educação e Saúde da UFCG e
  		acompanhamento de prazos de entrega de materiais junto aos fornecedores.</p>
  </div>

  <div class="alert alert-danger">
    <strong>Atenção!</strong><p>
    As requisições de materiais deverão ser feitas EXCLUSIVAMENTE via SEI! onde foi criado um formulário e processo próprio para isso.<p>
    O SisAlmox deverá ser utilizado apenas para consulta ao estoque, não sendo necessário senha e login para tanto.
  </div>

  <div class="alert alert-info">
    <strong>Atenção!</strong><p>
    Em caso de dúvidas, favor entrar em contato através do telefone/Whatsapp (83) 3372 1912 ou através do e-mail: almoxarifado.ces@ufcg.edu.br
  </div>



{% endblock %}